= render 'layouts/nav_content'
#content.about
  %h1
    ЕДИНЫЙ ЦЕНТР СТРАХОВАНИЯ

  = image_tag 'logo_about.png'
  %p.text
    Ну вот, перед вами Винни-Пух.

    Как видите, он спускается по лестнице вслед за своим другом Кристофером Робином, головой вниз, пересчитывая ступеньки собственным затылком: бум-бум-бум. Другого способа сходить с лестницы он пока не знает. Иногда ему, правда, кажется, что можно бы найти какой-то другой способ, если бы он только мог на минутку перестать бумкать и как следует сосредоточиться. Но увы — сосредоточиться-то ему и некогда.

    Как бы то ни было, вот он уже спустился и готов с вами познакомиться.

    — Винни-Пух. Очень приятно!

    Вас, вероятно, удивляет, почему его так странно зовут, а если вы знаете английский, то вы удивитесь ещё больше.

    Это необыкновенное имя подарил ему Кристофер Робин. Надо вам сказать, что когда-то Кристофер Робин был знаком с одним лебедем на пруду, которого он звал Пухом. Для лебедя это было очень подходящее имя, потому что если ты зовёшь лебедя громко: “Пу-ух! Пу-ух!” — а он не откликается, то ты всегда можешь сделать вид, что ты просто понарошку стрелял; а если ты звал его тихо, то все подумают, что ты просто подул себе на нос. Лебедь потом куда-то делся, а имя осталось, и Кристофер Робин решил отдать его своему медвежонку, чтобы оно не пропадало зря.