#content.green
  = image_tag 'green.png'
  %p.text
    Зелёная карта - международный договор (полис) страхования автогражданской ответственности если Вы собираетесь отправиться за рубеж на собственном автомобиле, Вам необходим международный полис страхования гражданской ответственности "Зеленая карта".
    %br
    %br
    Полис "Зеленая карта", выданный уполномоченным страховщиком в России, освобождает Вас от необходимости дополнительного страхования гражданской ответственности в другом государстве.

  %div
    %h1 Зеленая карта
    %table
      %tr
        %td
          Территория действия:
        %td
          %input
      %tr
        %td
          Тип транспортного средства:
        %td
          %input
      %tr
        %td
          Страховой полис:
        %td
          %input
      %tr
        %td
          Стоимость полиса:
        %td
          %input
      %tr
        %td
          Ваше имя:
        %td
          %input