%p
	Нас выбирают за комфорт, спокойствие и надёжность
%nav
	= link_to '#', target: '_blank' do
		%div
		%span
			Бесплатная доставка

	= link_to '#', target: '_blank' do
		%div
		%span
			Удаленное оформление

	= link_to '#', target: '_blank' do
		%div
		%span
			Надежность