= render 'layouts/nav_content'
#content.message
  %h1
    ОБРАТНАЯ СВЯЗЬ

  %ul
    %li
      %span Выберите тему сообщения :
      %input
    %li
      %span Ваше имя :
      %input
    %li
      %span Телефон :
      %input
    %li
      %span E-mail :
      %input
    %li
      %span Ваше сообщение :
      %input

  = link_to '#' do
    %span.button
      Отправить