= render 'layouts/nav_content'

#content.tehosmotr.osago
  %nav
    = render 'layouts/nav_footer'

  = link_to '#' do
    %div
    %span.button
      Калькулятор ОСАГО онлайн

  %div
    %p.text
      Почему ОСАГО является обязательным в нашей стране? Все очень просто: это не только гарантированное возмещение ущерба пострадавшим пешеходам, водителям или пассажирам, но и удобное разрешение конфликтов на дорогах.
      %br
      %br
      Кроме того, ОСАГО является инструментом повышения общей культуры вождения в России. ОСАГО - это первичный полис, который должен быть у каждого автовладельца.
      %br
      %br
      Если у вас еще нет ОСАГО, то Вы можете получить свой полис прямо сейчас. С нами это уднобно и быстро.

  %p.silver-shadow
    Список документов для оформления ОСАГО

  .four-highlights
    %span
      Паспорт собственника транспортного средства (1-ая страница и страница прописки).
    %span
      Свидетельство о регистрации ТС(СТС) с 2-х сторон, если автомобиль не на учете - тогда ПТС.
    %span
      Водительское удостоверение всех тех, кто будет допущен к управлению транспортным средством (серия, номер, дата рождения; дата выдачи прав).
    %span
      Предыдущий полис страхования по ОСАГО.

  %nav
    = render 'layouts/nav_aside'