header
  width: 920px
  padding: 18px 30px
  margin: 0 auto
  overflow: hidden

  .logo
    float: left
    height: 74px
    width: 310px
    background: url('logo.png') no-repeat

    &:hover
      opacity: 0.9

  #telefon
    float: right
    padding-top: 10px
    overflow: hidden
    -moz-box-sizing: border-box
    box-sizing: border-box

    div
      font-size: 20px
      font-weight: bold
      letter-spacing: 0.9px
      color: #999

      &:last-child
        color: rgba(180,180,180,0.8)
        text-shadow: 1px 1px 2px white, 0 0 0px black
        font-size: 28px
        font-family: "PF Din Display Pro Regular"
        letter-spacing: 2px

        span
          color: rgba(0, 50, 110, 0.8)