nav
  text-align: center
  overflow: hidden
  padding: 0 30px
  margin-top: 16px
  margin: 0

  ul
    margin: 0 auto
    overflow: hidden
    width: 920px
    background: #cbcbcb
    padding: 20px 0
    border-radius: 10px
    box-shadow: inset 2px 2px 6px #888

    li
      display: inline-block
      margin: 0 20px
      padding-top: 2px

      &.current
        a, a:link, a:visited
          color: white
          text-shadow: 1px 1px 2px #888

      a, a:link, a:visited
        text-decoration: none
        color: white
        font-size: 24px
        font-weight: bold
        letter-spacing: 1px
        font-family: "PF Din Display Pro Light"

        &:hover, &:focus
          text-shadow: 1px 1px 3px #555

        &:hover, &:focus
          color: white
          text-shadow: 1px 1px 2px #888
