nav
  text-align: center
  overflow: hidden
  padding: 0 30px
  margin-top: 16px
  margin: 0

  ul
    margin: 0 auto
    overflow: hidden
    width: 920px
    background: #cbcbcb
    padding: 20px 0
    border-radius: 10px
    box-shadow: inset 2px 2px 6px #888

    li
      display: inline-block
      margin: 0 20px
      padding-top: 2px

      &.current
        a, a:link, a:visited
          color: white
          text-shadow: 1px 1px 2px #888

      a, a:link, a:visited
        text-decoration: none
        color: white
        font-size: 24px
        font-weight: bold
        letter-spacing: 1px
        font-family: "PF Din Display Pro Light"

        &:hover, &:focus
          text-shadow: 1px 1px 3px #555

        &:hover, &:focus
          color: white
          text-shadow: 1px 1px 2px #888

section
  nav
    text-align: center
    padding-bottom: 12px

    a
      overflow: hidden
      display: inline-block
      text-align: center

      span
        display: block
        color: rgba(150,150,150,0.8)
        text-shadow: 1px 1px 2px white, 0 0 0px black
        font-size: 28px
        font-family: "PF Din Display Pro Regular"
        margin-top: 12px

      div
        height: 107px
        width: 109px
        display: inline-block
        background-position: center top


      &:first-child
        div
          background: url('banner_01.png') no-repeat

      &:nth-child(2)
        margin: 0 100px

        div
          background: url('banner_02.png') no-repeat

      &:last-child
        div
          background: url('banner_03.png') no-repeat

      &:hover
        opacity: 0.8

  #content
    nav
      padding: 0

      ul
        li
          margin: 0 16px
      a
        span
          color: white
          background: #4071b8
          font-size: 22px
          width: 270px
          padding: 20px 10px
          border-radius: 10px
          text-shadow: none
          margin-top: 20px

        div
          height: 189px
          width: 227px
          display: inline-block
          background-position: center center !important
          background-repeat: no-repeat !important


        &:first-child
          div
            background: url('delivery.png')

        &:nth-child(2)
          margin: 0 30px

          div
            background: url('remote.png')

        &:last-child
          div
            background: url('reliability.png')

footer
  nav
    ul
      background: none
      box-shadow: none
      text-align: left
      border-radius: 0
      border-bottom: 1px solid white
      margin-bottom: 30px

      li
        margin: 0 22px

        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
          float: right
        a
          font-weight: none
          font-family: "PF Din Display Pro Light"