nav
  text-align: center
  overflow: hidden
  margin-top: 16px
  padding: 0
  margin: 0

  ul
    margin: 0 auto
    overflow: hidden
    width: 920px
    background: #cbcbcb
    padding: 25px 0
    border-radius: 10px
    box-shadow: inset 2px 2px 8px #888

    li
      display: inline-block
      margin: 0 20px
      font-size: 24px

      &.current
        a, a:link, a:visited
          color: white
          text-shadow: 1px 1px 2px #888

      a, a:link, a:visited
        text-decoration: none
        color: white

        &:hover, &:focus
          color: white
          text-shadow: 1px 1px 2px #888