section
  #content
    overflow: hidden

    &.about
      text-align: center

      h1
        text-align: center
        font-size: 36px

      img
        margin-bottom: 20px

    .partners
      text-align: center

      span
        text-align: center
        color: rgba(150, 150, 150, 0.8)
        text-shadow: 1px 1px 2px white, 0 0 0px black
        font-size: 28px
        font-family: "PF Din Display Pro Regular"
        margin-top: 12px

    &.tehosmotr
      padding: 0 40px 35px 40px
      vertical-align: top

      nav
        margin: 0 0 16px 0

        ul
          background: none
          box-shadow: none
          text-align: left
          width: 880px
          padding: 10px 0 20px 0

          li
            &:first-child
              margin-left: 0
            &:last-child
              margin-right: 0

            a, a:link, a:visited
              color: gray

              &:hover, &:focus
                text-shadow: none

              &:hover, &:focus
                color: #4071b8
                text-shadow: none

        &:last-child
          a
            span
              width: 240px

      > a
        overflow: hidden
        display: inline-block
        margin-right: 80px
        vertical-align: top

        &:hover
          opacity: 0.8

        span
          color: white
          background: #4071b8
          font-size: 22px
          width: 340px
          padding: 20px 10px
          border-radius: 10px
          text-shadow: none
          margin-top: 16px
          display: block
          font-family: "PF Din Display Pro Regular"
          text-align: center
          -moz-box-sizing: border-box
          box-sizing: border-box

        div
          height: 230px
          width: 340px
          display: inline-block
          background: url('tehosmotr.png') no-repeat
          background-position: center center !important
          background-repeat: no-repeat !important 

      > div
        display: inline-block
        width: 430px

        p.text
          margin: 0

      > img
        margin: 40px 0

    &.osago

      > a

        div
          height: 190px
          width: 332px
          background: url('osago.png') no-repeat

        span
          width: 332px

      > div
        width: 430px
      p
        margin: 100px 0 60px 0

      .four-highlights
        overflow: hidden
        color: #6d6e71
        width: 100%

        span
          float: left
          width: 375px
          height: 120px
          padding-left: 50px
          line-height: 16px
          position: relative

          &:before
            content: ""
            position: absolute
            left: 0
            top: 0
            height: 50px
            width: 50px
            background: url('strelka.png') no-repeat

    &.green
      padding: 25px 50px

      img
        float: left
        margin-right: 50px

      p
        float: left
        width: 350px
        margin: 0

      h1
        text-align: left
        font-size: 22px
        color: black
        margin: 20px 0 0

      table
        color: black
        text-align: left
        font-size: 20px

        tr
          td
            &:first-child
              padding-right: 40px

            &:nth-child(2)
              input
                width: 400px
                border-radius: 18px
                height: 30px
                border: 1px solid gray

    &.contacts
      div
        overflow: hidden
        margin-bottom: 60px

        img
          float: left
          margin-right: 60px

        div
          float: left
          padding: 20px
          width: 448px
          height: 237px
          margin: 0
          border-radius: 10px
          -moz-box-sizing: border-box
          box-sizing: border-box
          box-shadow: inset 2px 2px 6px #888

          p
            margin: 0
            line-height: 28px
            letter-spacing: 1px
            font-weight: bold

article
  font-size: 12px
  overflow: hidden
  margin-bottom: 50px

  img
    max-width: 600px
    height: auto !important
    margin-left: 0 !important
    margin-top: 0 !important

  a:last-child
    display: block
    text-align: right
    
  a, a:link, a:visited
    font-weight: bold
    text-decoration: underline
    color: #739fbe
    font-size: 12px

    &:hover
      opacity: 0.6

.gallery
  width: 672px
  text-align: left

  a
    display: inline-block
    vertical-align: top
    margin-right: 4px

    &:hover
      opacity: 0.8

    img
      width: 160px

form
  div
    margin-bottom: 10px

    label
      display: inline-block
      vertical-align: top
      margin-top: 2px
      width: 100px

    input
      padding: 5px
      width: 200px

    textarea
      width: 350px
      height: 150px
      padding: 5px

  > input
    border: none
    font-weight: bold
    color: white
    padding: 15px 25px
    background: #00B2C1
    border-radius: 2px

    &:hover
      opacity: 0.9
      cursor: pointer