%ul
	%li ООО "ЕЦС"
	%li 196247, Санкт-Петербург
	%li ул. Краснопутиловская, д. 50, лит. А
	%li ИНН: 7810404999, КПП: 781001001
	%li ОГРН: 1137847495939

%ul
	%li Р/С: 40702810130260009971
	%li в Филиале №7806 ВТБ 24 (ЗАО)
	%li К/С: 3010181030000000811
	%li БИК: 044030811
	%li Телефон: 8 (812) 608-00-14

%ul
	%li
		= render 'layouts/icons'
	%li © Единый Центр Страхования
	%li Все права защищены.
	%li E-mail: stock@insurececenter.spb.ru