%ul
	%li ООО "ЕЦС"
	%li 196247, Санкт-Петербург
	%li ул. Краснопутиловская, д. 50, лит. А
	%li ИНН: 7810404999, КПП: 781001001
	%li ОГРН: 1137847495939

%ul
	%li ООО "ЕЦС"
	%li 196247, Санкт-Петербург
	%li ул. Краснопутиловская, д. 50, лит. А
	%li ИНН: 7810404999, КПП: 781001001
	%li ОГРН: 1137847495939

%div
	images